@font-face {
    font-family: "Signifier Regular";
    src: url("/static/fonts/signifier-web-regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Signifier Italic";
    src: url("/static/fonts/signifier-web-regular-italic.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: "Signifier Regular", "Noto Serif KR", serif;
}

p,
span,
h1,
h2,
h3,
h4 {
    margin: 0;
}

p {
    word-break: keep-all;
}

.sound_button {
    cursor: pointer;
}

.vp-center {
    align-items: flex-end !important;
}

.embed-container-xs {
    --video--width: 349;
    --video--height: 196;

    position: relative;
    padding-bottom: calc(
        var(--video--height) / var(--video--width) * 100%
    ); /* 41.66666667% */
    overflow: hidden;
    max-width: 100%;
}

.embed-container-xs iframe,
.embed-container-xs object,
.embed-container-xs embed {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.embed-container-s {
    --video--width: 1000;
    --video--height: 150;

    margin-top: 10px !important;
    position: relative;
    padding-bottom: calc(
        var(--video--height) / var(--video--width) * 100%
    ); /* 41.66666667% */
    overflow: hidden;
    max-width: 100%;
}

.embed-container-s iframe,
.embed-container-s object,
.embed-container-s embed {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.embed-container {
    --video--width: 1740;
    --video--height: 740;
    position: relative;
    padding-bottom: calc(
        var(--video--height) / var(--video--width) * 100%
    ); /* 41.66666667% */
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* @media (min-aspect-ratio: 16/9) {
	width: 177.78vh;
 }

 @media (max-aspect-ratio: 16/9) {
	height: 56.25vw;
 } */

.italic {
    font-family: "Signifier Italic";
}

.exeption span {
    font-family: "Signifier Italic";
    width: fit-content !important;
    display: inline !important;
}

.center {
    text-align: center;
    width: 100% !important;
}

.left_arrow span,
.right_arrow span {
    cursor: pointer;
}

#body {
    width: calc(100vw - 180px);
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: all 500ms cubic-bezier(0.395, 0.6, 0.525, 0.465); /* custom */
    transition-timing-function: cubic-bezier(
        0.395,
        0.6,
        0.525,
        0.465
    ); /* custom */
}

#body::-webkit-scrollbar {
    display: none;
}

.thumbnail_container {
    position: absolute;

    width: 100%;
    height: calc(100% - 26vh);
    top: 13vh;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#thumbnail {
    width: 50vw;
    height: 100%;
    max-height: 800px;
    object-fit: contain;
    margin: 0 auto;
}

.text-style-2 {
    font-family: "Signifier Italic";
}

.ko_type .text-style-2 {
    font-family: "Noto Serif KR";
}

/* TOPOF Slideshow */

.arrowbox {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 30;
    display: flex;
    flex-direction: row;
}

.arrowbox div {
    width: 50%;
    height: 100%;
    display: flex;
}

.arrowbox div:first-child {
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}

.arrowbox div:last-child {
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

.arrowbox div span {
    height: 45px;
    cursor: pointer;
}

.slideshow {
    z-index: 2;
    margin: auto;
    overflow: hidden;
    width: 100%;
    height: 600px;
    position: relative;
}

.slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
    height: 100%;
    max-height: 100%;
    width: 100%;
}

.slide {
    display: inline-block;
    object-fit: contain;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
}

.slide > span {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    padding-left: 1.5em;
    font-size: 20px;
    color: #fff;
}

@media screen and (max-width: 770px) {
    .slideshow {
        margin: auto;
        overflow: hidden;
        max-width: 100vw;
        height: auto;
        max-height: 100vh;
    }

    .slide {
        height: 100vh;
        max-height: 100vh;
    }

    .slide > span {
        font-size: 0.75em;
    }
}

.slide > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
}

/* Buttons */
.slide_label {
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
}

.slideshowDots {
    text-align: center;
    position: absolute;
    bottom: 20px;
    right: calc(50% - 36px);
    z-index: 1000;
}

.slideshowDot {
    display: inline-block;
    height: 9px;
    width: 9px;
    border-radius: 50%;

    cursor: pointer;
    margin: 15px 7px 0px;

    background-color: #c4c4c4;
}

.slideshowDot.active {
    background-color: #fff;
}

/* ENDOF Slideshow */

/* TOPOF layout */

.layout_container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

/* ENDOF layout */

/* TOPOF main */

.keyword_container_wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.keyword_container {
    display: flex;
    width: 100%;
    align-items: center;
    min-height: calc(100vh - 104px);
}

.keyword {
    transition: ease-in 1000ms;
}

#thumbnail {
    mix-blend-mode: difference;
}

.keyword_container div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 25%;
    padding-right: 20px;
}

.keyword_container div span {
    font-size: 26px;
    text-transform: capitalize;
    cursor: pointer;
}

.footer_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 26px;
}

.footer_container span {
    font-size: 20px;
    font-family: "Signifier Italic";
}

/* ENDOF main */

/* TOPOF Header */

.header_container {
    width: calc(100vw - 180px);
    max-width: 1440px;
    margin: 0 auto;
    height: fit-content;
    position: fixed;
    top: 26px;
    z-index: 9999;
}

.header_container .header_inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.header_container .header_inner div {
    width: 50%;
    margin: 0;
}

.header_container .header_inner div h1 {
    z-index: 9999 !important;
    width: 100%;
    cursor: pointer;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1a1919;
    margin: 0;
}

.header_container .header_inner div:last-child {
    width: 50%;
    margin: 0;
    text-align: right;
}

.header_container .header_inner div:last-child span:last-child {
    margin: 0;
}

.global span {
    cursor: pointer;
    font-size: 20px;
    margin-right: 2px;
    text-decoration: none !important;
}

/* ENDOF Header */

/* TOPOF About */

.about_container {
    width: 100%;
    font-size: 26px;
}

.eng_info {
    font-size: 26px !important;
    line-height: normal !important;
}

.about_container .about_nav,
.title_bar {
    width: auto;
    margin-top: 92px;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title_bar {
    margin-bottom: 35px;
}

.title_bar span {
    margin-top: 5px;
    margin-bottom: 3px;
}

.about_container .about_nav div {
    margin-right: 1em;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 8px;
}

.ko_type .about_nav div {
    padding-top: 13px;
    padding-bottom: 10px;
}

.ko_type .about_nav div h2 {
    font-size: 20px;
    line-height: 20px;
}

.about_container .about_nav div h2 {
    font-size: 20px;
    font-weight: normal;
    cursor: pointer;
}

.about_content_1 p a:hover,
.about_container .about_nav div h2:hover {
    font-family: "Signifier Italic";
}

.ko_type .about_nav div h2 {
    font-family: "Noto Serif KR";
    font-weight: 500;
}

.ko_type .about_content_1 p a:hover,
.ko_type .about_nav div h2:hover {
    font-family: "Noto Serif KR";
    font-weight: 900;
}

.about_container .about_content {
    margin-top: 70px;
    width: 100%;
}

.about_container .about_content h3 {
    width: 100%;
    font-weight: normal;
    text-align: center;
}

.about_container .about_content .about_content_1 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.about_container .about_content .about_content_1 div span {
    width: 100%;
    text-align: center;
    display: block;
}

.about_container .about_content .about_content_1 p,
.about_container .about_content .about_content_2 {
    margin: 0;
}

.about_container .about_content .about_content_2 {
    text-align: center;
}

.about_container .about_content .about_content_2 div {
    margin-bottom: 20px;
}

.about_container .about_content .about_content_2 span {
    display: block;
}

.about_container .about_content .about_content_2 p {
    text-align: left;
}

.about_container .about_content .about_content_1 span {
    align-self: center;
    text-align: center;
    width: 100%;
}

.center p {
    text-align: center !important;
}

.sponsor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.sponsor img {
    width: 196px;
}

.about_container .about_content_3 div {
    text-align: center;
    margin-bottom: 20px;
}

/* ENDOF About */

/* TOPOF Artist */

.keyword_span {
    width: 100%;
    font-size: 20px;
    font-family: "Signifier Italic";
    height: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.keyword_span span {
    width: 100%;
}

.keyword_span span:hover {
    cursor: pointer;
}

.content_container {
    border-top: 1px solid #000;
    font-size: 26px;
}

.ko_type {
    font-size: 24px;
    line-height: 41px;
    font-family: "Noto Serif KR", serif;
}

.ko_type .italic {
    font-family: "Noto Serif KR", serif;
    font-weight: bold;
}

.center {
    margin-bottom: 10px;
}

.ko_type .center {
    margin-bottom: 13px;
}

.content_container .title_container {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.content_container .title_container div {
    width: 33.3%;
}

.content_container .title_container div:first-child,
.content_container .title_container div:last-child {
    display: flex;
}

.left_arrow {
    justify-content: flex-start;
}

.right_arrow {
    justify-content: flex-end;
}

.content_container .title_container div:nth-child(2) span {
    display: block;
    text-align: center;
}

.content_container .artist_info_container,
.content_container .description_container,
.content_container .module_container,
.content_container .video_container,
.content_container .spectrum_container,
.content_container .audio_player,
.content_container .video_function_container {
    width: calc((100% / 8) * 6);
    margin: 0 auto;
    margin-top: 40px;
}

.content_container .description_container p.subtext {
    font-size: 20px;
    line-height: normal;
    margin-top: 20px;
}

.content_container .artist_info_container {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    line-height: normal;
}

.ko_type .artist_info_container {
    line-height: 32px !important;
}

.content_container .artist_info_container div:first-child {
    width: calc((100% / 6) * 2);
}

.content_container .artist_info_container div:last-child {
    width: calc((100% / 6 * 4));
    padding-right: 20px;
}

.content_container .module_container {
    font-size: 20px;
    overflow: hidden;
    position: relative;
}

.content_container .module_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.content_container .triple_row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.triple_container {
    width: 100%;
}

.triple_container .arrowbox {
    position: absolute;
    width: 100%;
    height: 35px;
    top: 25%;
    z-index: 999;
    display: flex;
    flex-direction: row;
}

.triple_container .arrowbox div {
    width: auto;
    height: 100%;
    display: flex;
}

.triple_container .arrowbox div:first-child {
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
}

.triple_container .arrowbox div:last-child {
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    position: absolute;
    right: 0px;
    cursor: pointer;
}

.triple_container .arrowbox div span {
    height: 35px;
    cursor: pointer;
}

.content_container .triple_row .module {
    width: calc((((100vw - 180px) * 0.75) / 3));
    max-width: calc((1440px / 8) * 2);
    display: inline-block;
    margin-bottom: 30px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    cursor: pointer;
    z-index: 999;
}

.content_container .triple_row .module .image_row iframe {
    cursor: pointer;
    z-index: 999;
}

.content_container .module_row .module {
    width: calc((100% / 3 - 10px));
    margin-bottom: 30px;
    margin-right: 15px;
}

.ko_type .module_row .module .sound_row div {
    line-height: normal;
}

.ko_type .module_row .module .sound_row div:first-child {
    margin-top: 0px;
}

.ko_type .description_container .clickable:hover {
    font-family: "Noto Serif KR", serif !important;
    font-style: italic;
}

.content_container .module_row .module:nth-child(3n) {
    margin-right: 0px;
}

.content_container .module_row .module span {
    margin-right: 10px;
}

.content_container .module_row .image_row img {
    object-fit: cover;
    width: 100%;
    height: 226px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content_container .description_container p,
.about_content p {
    text-indent: 85px;
}

.content_container .description_container p:first-child,
.about_content p:first-child {
    text-indent: 0px;
}

.content_container .description_container p:first-child {
    text-indent: 0;
}

.video_container img {
    width: 100%;
    object-fit: cover;
}

.title p {
    text-align: center;
}

.plants_container {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.audio_player {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 40px;
    height: 500px;
}

.audio_player .player {
    background-color: #000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.audio_player img {
    width: 30%;
    cursor: pointer;
}

/* ENDOF Artist */

.mobile_thumbnail_container {
    display: none;
}

#mobileOnly {
    display: none;
}

.video_function {
    display: flex;
    margin-top: 10px;
}

.video_function div:first-child {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.video_function div:first-child span {
    display: block;
}

.video_function div:last-child {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.spectrum_container img {
    width: 100%;
}

.spectrum_desc {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.clickable {
    cursor: pointer;
}

.sound_row .desktopOnly {
    display: inline;
}

.clickable:hover {
    font-family: "Signifier Italic" !important;
}

.ko_type .subtext {
    line-height: 32px !important;
}

.mobileOnly {
    display: none;
}

.sound_row .desktopOnly:hover {
    font-family: "Signifier Italic" !important;
}

@media screen and (max-width: 780px) {
    .sound_row .desktopOnly {
        display: none;
    }

    .ko_type .sound_row .desktopOnly:hover {
        text-decoration: none;
    }

    .mobileOnly {
        display: unset;
    }
    .sound_row {
        display: flex;
    }

    .sound_row div {
        padding-right: 10px;
    }

    .ko_type .artist_info_container p {
        line-height: 26px !important;
    }
    .about_container {
        width: 100%;
        font-size: 20px;
        line-height: 28px;
    }
    .content_container .description_container p,
    .about_content p {
        text-indent: 35px;
    }

    .content_container .description_container p:first-child,
    .about_content p:first-child {
        text-indent: 0px;
    }

    .content_container .description_container p:first-child {
        text-indent: 0;
    }

    .content_container .description_container p.subtext {
        font-size: 16px;
        line-height: normal;
    }

    .ko_type .description_container p.subtext {
        line-height: 26px !important;
    }

    .triple_container .arrowbox {
        top: 40%;
    }

    .triple_container .arrowbox div:first-child {
        padding-left: 10px;
    }

    .triple_container .arrowbox div:last-child {
        padding-right: 10px;
    }

    .content_container .triple_row .module {
        width: 100%;
        display: inline-block;
        margin-bottom: 30px;
        padding-left: 0px;
        padding-right: 0px;
        cursor: pointer;
        z-index: 100;
        max-width: unset;
    }

    .content_container .triple_row .module .image_row iframe {
        cursor: pointer;
        z-index: 999;
    }
    .embed-container {
        --video--height: 900;
    }
    .arrowbox {
        height: auto;
    }

    #mobileOnly {
        display: flex;
    }

    #desktopOnly {
        display: none;
    }

    .ko_type {
        font-size: 18px !important;
        line-height: 31px !important;
        font-family: "Noto Serif KR", serif;
    }

    .ko_type .about_nav div h2 {
        font-size: 18px !important;
    }

    #body {
        width: calc(100% - 30px);
        height: 100%;
        overflow-y: auto;
        overflow-x: scroll;
        max-width: 2560px;
        margin: 0 auto;
        position: relative;
        -ms-overflow-style: none;
        scrollbar-width: none;
        transition: all 500ms cubic-bezier(0.395, 0.6, 0.525, 0.465); /* custom */
        transition-timing-function: cubic-bezier(
            0.395,
            0.6,
            0.525,
            0.465
        ); /* custom */
    }

    .audio_player {
        height: 300px;
        width: 100% !important;
    }

    .content_container .description_container,
    .content_container .module_container,
    .content_container .video_container,
    .content_container .spectrum_container,
    .content_container .audio_player,
    .content_container .module_container {
        width: 100%;
        margin: 0 auto;
        padding-top: 20px;
        margin-bottom: 20px !important;
        position: relative;
    }

    .content_container .artist_info_container div:last-child {
        padding-right: 0;
    }

    .ko_type .artist_info_container p {
        font-size: 16px;
        line-height: 23px;
    }

    .content_container .artist_info_container p {
        font-size: 16px;
        line-height: normal;
    }

    .keyword_container_wrapper {
        display: none;
    }

    .mobile_keyword_container,
    .ko_mobile_keyword_container {
        width: 100%;
        font-size: 26px;
        margin-top: 120px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .mobile_keyword_container div,
    .ko_mobile_keyword_container div {
        width: 100%;
        height: fit-content;
    }

    .mobile_keyword_container span {
        display: block;
        text-align: center;
        font-family: "Signifier Italic";
        font-size: 20px;
    }

    .ko_mobile_keyword_container span {
        display: block;
        text-align: center;
        font-family: "Noto Serif KR";
        font-style: italic;
        font-size: 20px;
    }

    .content_container .module_container {
        overflow: scroll;
    }

    .content_container .module_row {
        width: 100%;
        overflow-x: scroll;
        display: inline-block;
        display: flex;
        flex-direction: row;
    }

    .content_container .module_row .module {
        width: 100%;
        padding-right: 0px;
        margin-right: 0px;
    }

    .content_container .title_container {
        margin-bottom: 20px;
    }

    .content_container .title_container div:nth-child(2) {
        font-size: 20px;
        width: 50%;
    }

    .content_container .artist_info_container div:first-child {
        display: none;
    }

    .content_container .artist_info_container div:last-child {
        width: 100%;
    }

    .header_container {
        width: calc(100vw - 40px);
        z-index: 9999;
    }

    .thumbnail_container {
        display: none;
    }

    .mobile_thumbnail_container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% - 30px);
        height: 80vh;
        position: fixed;
        top: 10vh;
        left: 15px;
    }

    .footer_container {
        position: fixed;
        left: 0px;
        z-index: 10;
    }

    .slideshow {
        z-index: 1000;
        overflow: hidden;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slideshowSlider {
        white-space: nowrap;
        transition: ease 1000ms;
        width: 100%;
    }

    .slide {
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    .slide img {
        object-fit: contain;
        width: 100%;
        margin: 0 auto;
    }

    .content_container .artist_info_container,
    .content_container .description_container,
    .content_container .module_container,
    .content_container .video_container,
    .content_container .video_function_container,
    .content_container .spectrum_container {
        width: 100%;
        margin: 0 auto;
        font-size: 20px;
        line-height: 27.5px;
    }

    .ko_type .artist_info_container,
    .ko_type .description_container,
    .ko_type .module_container,
    .ko_type .video_container,
    .ko_type .video_function_container,
    .ko_type .spectrum_container {
        width: 100%;
        margin: 0 auto;
        font-size: 18px;
        line-height: 31px;
    }

    .content_container .spectrum_container {
        height: auto;
    }

    .about_container .about_nav,
    .title_bar {
        width: auto;
        margin-top: 92px;
        border-top: 1px solid #979797;
        border-bottom: 1px solid #979797;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .about_container .about_nav div {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .ko_type .about_nav div {
        padding-top: 3px !important;
        padding-bottom: 5px !important;
    }

    .eng_info {
        font-size: 18px !important;
        line-height: normal !important;
    }
}
